.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-300);
}

.headerContent {
  width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  nav {
    height: 5rem;
    margin-left: 5rem;

    a {
      display: inline-block;
      position: relative;
      height: 5rem;
      line-height: 5rem;
      padding: 0 0.5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }

      &.active {
        color: var(--white);
        font-weight: bold;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: var(--yellow-500);
          border-radius: 3px 3px 0px 0px;
          margin-bottom: 2px;
        }
      }
    }
  }
}
